{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Dynamics 365 Business Central",
        "description": "Business Central Standard APIs"
    },
    "servers": [
        {
            "url": "https://api.businesscentral.dynamics.com/v1.0/api/v1.0"
        }
    ],
    "paths": {
        "/companies": {
            "get": {
                "summary": "Returns a list of companies",
                "tags": [
                    "company"
                ],
                "operationId": "getCompanies",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of companies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/company"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "systemVersion",
                                    "name",
                                    "displayName",
                                    "businessProfileId"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an company object for Dynamics 365 Business Central.",
                "tags": [
                    "company"
                ],
                "operationId": "getCompanyById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/company"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "systemVersion",
                                    "name",
                                    "displayName",
                                    "businessProfileId"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/items": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of items",
                "tags": [
                    "item"
                ],
                "operationId": "getItems",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/item"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "picture",
                                    "defaultDimensions",
                                    "itemCategory"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "displayName",
                                    "type",
                                    "itemCategoryId",
                                    "itemCategoryCode",
                                    "blocked",
                                    "baseUnitOfMeasureId",
                                    "baseUnitOfMeasure",
                                    "gtin",
                                    "inventory",
                                    "unitPrice",
                                    "priceIncludesTax",
                                    "unitCost",
                                    "taxGroupId",
                                    "taxGroupCode",
                                    "lastModifiedDateTime"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "post": {
                "summary": "Creates a item in Dynamics 365 Business Central",
                "tags": [
                    "item"
                ],
                "operationId": "postItem",
                "requestBody": {
                    "$ref": "#/components/requestBodies/item"
                },
                "responses": {
                    "201": {
                        "description": "A new itemhas been succesfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/item"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/items({item_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "item_id",
                    "in": "path",
                    "required": true,
                    "description": "id for item",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an item object for Dynamics 365 Business Central.",
                "tags": [
                    "item"
                ],
                "operationId": "getItemById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/item"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "picture",
                                    "defaultDimensions",
                                    "itemCategory"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "displayName",
                                    "type",
                                    "itemCategoryId",
                                    "itemCategoryCode",
                                    "blocked",
                                    "baseUnitOfMeasureId",
                                    "baseUnitOfMeasure",
                                    "gtin",
                                    "inventory",
                                    "unitPrice",
                                    "priceIncludesTax",
                                    "unitCost",
                                    "taxGroupId",
                                    "taxGroupCode",
                                    "lastModifiedDateTime"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an item in Dynamics 365 Business Central",
                "tags": [
                    "item"
                ],
                "operationId": "deleteItemById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified item"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified item",
                "tags": [
                    "item"
                ],
                "operationId": "patchItemById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/item"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifieditem",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/item"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/items({item_id})/picture": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "item_id",
                    "in": "path",
                    "required": true,
                    "description": "id for item",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of picture",
                "tags": [
                    "picture"
                ],
                "operationId": "getPictureForItem",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of picture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/picture"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "width",
                                    "height",
                                    "contentType",
                                    "content"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/items({item_id})/picture({picture_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "item_id",
                    "in": "path",
                    "required": true,
                    "description": "id for item",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "picture_id",
                    "in": "path",
                    "required": true,
                    "description": "id for picture",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an picture object for Dynamics 365 Business Central.",
                "tags": [
                    "picture"
                ],
                "operationId": "getPictureForItemById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested picture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/picture"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "width",
                                    "height",
                                    "contentType",
                                    "content"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an picture in Dynamics 365 Business Central",
                "tags": [
                    "picture"
                ],
                "operationId": "deletePictureForItemByIdById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified picture"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified picture",
                "tags": [
                    "picture"
                ],
                "operationId": "patchPictureForItemByIdById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/picture"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifiedpicture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/picture"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/items({item_id})/defaultDimensions": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "item_id",
                    "in": "path",
                    "required": true,
                    "description": "id for item",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of defaultDimensions",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "getDefaultDimensionsForItem",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of defaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/defaultDimensions"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account",
                                    "dimension",
                                    "dimensionValue"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "parentId",
                                    "dimensionId",
                                    "dimensionCode",
                                    "dimensionValueId",
                                    "dimensionValueCode",
                                    "postingValidation"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "post": {
                "summary": "Creates a defaultDimensions in Dynamics 365 Business Central",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "postDefaultDimensionsForItem",
                "requestBody": {
                    "$ref": "#/components/requestBodies/defaultDimensions"
                },
                "responses": {
                    "201": {
                        "description": "A new defaultDimensionshas been succesfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "item_id",
                    "in": "path",
                    "required": true,
                    "description": "id for item",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "defaultDimensions_parentId",
                    "in": "path",
                    "required": true,
                    "description": "parentId for defaultDimensions",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "defaultDimensions_dimensionId",
                    "in": "path",
                    "required": true,
                    "description": "dimensionId for defaultDimensions",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an defaultDimensions object for Dynamics 365 Business Central.",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "getDefaultDimensionsForItemByDimensionIdByParentId",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested defaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account",
                                    "dimension",
                                    "dimensionValue"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "parentId",
                                    "dimensionId",
                                    "dimensionCode",
                                    "dimensionValueId",
                                    "dimensionValueCode",
                                    "postingValidation"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an defaultDimensions in Dynamics 365 Business Central",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "deleteDefaultDimensionsForItemByDimensionIdByParentIdById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified defaultDimensions"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified defaultDimensions",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "patchDefaultDimensionsForItemByDimensionIdByParentIdById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/defaultDimensions"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifieddefaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/picture": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of picture",
                "tags": [
                    "picture"
                ],
                "operationId": "getPicture",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of picture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/picture"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "width",
                                    "height",
                                    "contentType",
                                    "content"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/picture({picture_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "picture_id",
                    "in": "path",
                    "required": true,
                    "description": "id for picture",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an picture object for Dynamics 365 Business Central.",
                "tags": [
                    "picture"
                ],
                "operationId": "getPictureById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested picture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/picture"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "width",
                                    "height",
                                    "contentType",
                                    "content"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an picture in Dynamics 365 Business Central",
                "tags": [
                    "picture"
                ],
                "operationId": "deletePictureById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified picture"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified picture",
                "tags": [
                    "picture"
                ],
                "operationId": "patchPictureById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/picture"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifiedpicture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/picture"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/defaultDimensions": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of defaultDimensions",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "getDefaultDimensions",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of defaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/defaultDimensions"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account",
                                    "dimension",
                                    "dimensionValue"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "parentId",
                                    "dimensionId",
                                    "dimensionCode",
                                    "dimensionValueId",
                                    "dimensionValueCode",
                                    "postingValidation"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "post": {
                "summary": "Creates a defaultDimensions in Dynamics 365 Business Central",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "postDefaultDimensions",
                "requestBody": {
                    "$ref": "#/components/requestBodies/defaultDimensions"
                },
                "responses": {
                    "201": {
                        "description": "A new defaultDimensionshas been succesfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "defaultDimensions_parentId",
                    "in": "path",
                    "required": true,
                    "description": "parentId for defaultDimensions",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "defaultDimensions_dimensionId",
                    "in": "path",
                    "required": true,
                    "description": "dimensionId for defaultDimensions",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an defaultDimensions object for Dynamics 365 Business Central.",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "getDefaultDimensionsByDimensionIdByParentId",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested defaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account",
                                    "dimension",
                                    "dimensionValue"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "parentId",
                                    "dimensionId",
                                    "dimensionCode",
                                    "dimensionValueId",
                                    "dimensionValueCode",
                                    "postingValidation"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an defaultDimensions in Dynamics 365 Business Central",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "deleteDefaultDimensionsByDimensionIdByParentId",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified defaultDimensions"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified defaultDimensions",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "patchDefaultDimensionsByDimensionIdByParentId",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/defaultDimensions"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifieddefaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/customers": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of customers",
                "tags": [
                    "customer"
                ],
                "operationId": "getCustomers",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of customers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/customer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "customerFinancialDetails",
                                    "picture",
                                    "defaultDimensions",
                                    "currency",
                                    "paymentTerm",
                                    "shipmentMethod",
                                    "paymentMethod"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "displayName",
                                    "type",
                                    "address",
                                    "phoneNumber",
                                    "email",
                                    "website",
                                    "taxLiable",
                                    "taxAreaId",
                                    "taxAreaDisplayName",
                                    "taxRegistrationNumber",
                                    "currencyId",
                                    "currencyCode",
                                    "paymentTermsId",
                                    "shipmentMethodId",
                                    "paymentMethodId",
                                    "blocked",
                                    "lastModifiedDateTime"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "post": {
                "summary": "Creates a customer in Dynamics 365 Business Central",
                "tags": [
                    "customer"
                ],
                "operationId": "postCustomer",
                "requestBody": {
                    "$ref": "#/components/requestBodies/customer"
                },
                "responses": {
                    "201": {
                        "description": "A new customerhas been succesfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customer"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/customers({customer_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an customer object for Dynamics 365 Business Central.",
                "tags": [
                    "customer"
                ],
                "operationId": "getCustomerById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested customer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customer"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "customerFinancialDetails",
                                    "picture",
                                    "defaultDimensions",
                                    "currency",
                                    "paymentTerm",
                                    "shipmentMethod",
                                    "paymentMethod"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "displayName",
                                    "type",
                                    "address",
                                    "phoneNumber",
                                    "email",
                                    "website",
                                    "taxLiable",
                                    "taxAreaId",
                                    "taxAreaDisplayName",
                                    "taxRegistrationNumber",
                                    "currencyId",
                                    "currencyCode",
                                    "paymentTermsId",
                                    "shipmentMethodId",
                                    "paymentMethodId",
                                    "blocked",
                                    "lastModifiedDateTime"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an customer in Dynamics 365 Business Central",
                "tags": [
                    "customer"
                ],
                "operationId": "deleteCustomerById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified customer"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified customer",
                "tags": [
                    "customer"
                ],
                "operationId": "patchCustomerById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/customer"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifiedcustomer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customer"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/customers({customer_id})/customerFinancialDetails": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of customerFinancialDetails",
                "tags": [
                    "customerFinancialDetail"
                ],
                "operationId": "getCustomerFinancialDetailsForCustomer",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of customerFinancialDetails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/customerFinancialDetail"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "balance",
                                    "totalSalesExcludingTax",
                                    "overdueAmount"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customerFinancialDetail_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customerFinancialDetail",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an customerFinancialDetail object for Dynamics 365 Business Central.",
                "tags": [
                    "customerFinancialDetail"
                ],
                "operationId": "getCustomerFinancialDetailForCustomerById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested customerFinancialDetail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customerFinancialDetail"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "balance",
                                    "totalSalesExcludingTax",
                                    "overdueAmount"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/customers({customer_id})/picture": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of picture",
                "tags": [
                    "picture"
                ],
                "operationId": "getPictureForCustomer",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of picture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/picture"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "width",
                                    "height",
                                    "contentType",
                                    "content"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/customers({customer_id})/picture({picture_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "picture_id",
                    "in": "path",
                    "required": true,
                    "description": "id for picture",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an picture object for Dynamics 365 Business Central.",
                "tags": [
                    "picture"
                ],
                "operationId": "getPictureForCustomerById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested picture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/picture"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "width",
                                    "height",
                                    "contentType",
                                    "content"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an picture in Dynamics 365 Business Central",
                "tags": [
                    "picture"
                ],
                "operationId": "deletePictureForCustomerByIdById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified picture"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified picture",
                "tags": [
                    "picture"
                ],
                "operationId": "patchPictureForCustomerByIdById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/picture"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifiedpicture",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/picture"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/customers({customer_id})/defaultDimensions": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of defaultDimensions",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "getDefaultDimensionsForCustomer",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of defaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/defaultDimensions"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account",
                                    "dimension",
                                    "dimensionValue"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "parentId",
                                    "dimensionId",
                                    "dimensionCode",
                                    "dimensionValueId",
                                    "dimensionValueCode",
                                    "postingValidation"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "post": {
                "summary": "Creates a defaultDimensions in Dynamics 365 Business Central",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "postDefaultDimensionsForCustomer",
                "requestBody": {
                    "$ref": "#/components/requestBodies/defaultDimensions"
                },
                "responses": {
                    "201": {
                        "description": "A new defaultDimensionshas been succesfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customer_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customer",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "defaultDimensions_parentId",
                    "in": "path",
                    "required": true,
                    "description": "parentId for defaultDimensions",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "defaultDimensions_dimensionId",
                    "in": "path",
                    "required": true,
                    "description": "dimensionId for defaultDimensions",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an defaultDimensions object for Dynamics 365 Business Central.",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "getDefaultDimensionsForCustomerByDimensionIdByParentId",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested defaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "account",
                                    "dimension",
                                    "dimensionValue"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "parentId",
                                    "dimensionId",
                                    "dimensionCode",
                                    "dimensionValueId",
                                    "dimensionValueCode",
                                    "postingValidation"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "delete": {
                "summary": "Delete an defaultDimensions in Dynamics 365 Business Central",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "deleteDefaultDimensionsForCustomerByDimensionIdByParentIdById",
                "responses": {
                    "204": {
                        "description": "Succesfully deleted the specified defaultDimensions"
                    }
                }
            },
            "patch": {
                "summary": "Lets the user patch the specified defaultDimensions",
                "tags": [
                    "defaultDimensions"
                ],
                "operationId": "patchDefaultDimensionsForCustomerByDimensionIdByParentIdById",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IfMatchParam"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/defaultDimensions"
                },
                "responses": {
                    "200": {
                        "description": "Succesfully updated the specifieddefaultDimensions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultDimensions"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/customerFinancialDetails": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of customerFinancialDetails",
                "tags": [
                    "customerFinancialDetail"
                ],
                "operationId": "getCustomerFinancialDetails",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of customerFinancialDetails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/customerFinancialDetail"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "balance",
                                    "totalSalesExcludingTax",
                                    "overdueAmount"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/customerFinancialDetails({customerFinancialDetail_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "customerFinancialDetail_id",
                    "in": "path",
                    "required": true,
                    "description": "id for customerFinancialDetail",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an customerFinancialDetail object for Dynamics 365 Business Central.",
                "tags": [
                    "customerFinancialDetail"
                ],
                "operationId": "getCustomerFinancialDetailById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested customerFinancialDetail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customerFinancialDetail"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "balance",
                                    "totalSalesExcludingTax",
                                    "overdueAmount"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            }
        },
        "/companies({company_id})/vendors": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Returns a list of vendors",
                "tags": [
                    "vendor"
                ],
                "operationId": "getVendors",
                "responses": {
                    "200": {
                        "description": "Succesfully returned a list of vendors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/vendor"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/topParam"
                    },
                    {
                        "$ref": "#/components/parameters/skipParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    },
                    {
                        "$ref": "#/components/parameters/filterParam"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "picture",
                                    "defaultDimensions",
                                    "currency",
                                    "paymentTerm",
                                    "paymentMethod"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "displayName",
                                    "address",
                                    "phoneNumber",
                                    "email",
                                    "website",
                                    "taxRegistrationNumber",
                                    "currencyId",
                                    "currencyCode",
                                    "irs1099Code",
                                    "paymentTermsId",
                                    "paymentMethodId",
                                    "taxLiable",
                                    "blocked",
                                    "balance",
                                    "lastModifiedDateTime"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    }
                ]
            },
            "post": {
                "summary": "Creates a vendor in Dynamics 365 Business Central",
                "tags": [
                    "vendor"
                ],
                "operationId": "postVendor",
                "requestBody": {
                    "$ref": "#/components/requestBodies/vendor"
                },
                "responses": {
                    "201": {
                        "description": "A new vendorhas been succesfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/vendor"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies({company_id})/vendors({vendor_id})": {
            "parameters": [
                {
                    "name": "company_id",
                    "in": "path",
                    "required": true,
                    "description": "id for company",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "vendor_id",
                    "in": "path",
                    "required": true,
                    "description": "id for vendor",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Retrieve the properties and relationships of an vendor object for Dynamics 365 Business Central.",
                "tags": [
                    "vendor"
                ],
                "operationId": "getVendorById",
                "responses": {
                    "200": {
                        "description": "Succesfully returned the requested vendor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/vendor"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Entities to expand",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "picture",
                                    "defaultDimensions",
                                    "currency",
                                    "paymentTerm",
                                    "paymentMethod"
                                ]
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selected properties to be retrieved",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "number",
                                    "displayName",
                                    "address",
                                    "phoneNumber",
                                    "email",
                                    "website",
                                    "taxRegistrationNumber",
                                    "currencyId",
                                    "currencyCode",
                                    "irs1099Code",
                                    "paymentTermsId",
                                    "paymentMethodId",
                                    "taxLiable",
                                    "blocked",
                                    "balance",
                                    "lastModifiedDateTime"
                                ]
                            }
[...]
